name: app
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  fl_chart: ^1.1.1
  flutter:
    sdk: flutter
  go_router: ^17.0.1
  google_fonts: ^8.0.0
  signals: ^6.3.0
  signals_flutter: ^6.3.0


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
